@charset "UTF-8";
/* CSS Document */





/* Big phone to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px){
	
	.picture-me {
		width: 70%
	}
	
	.container {
		width: 60%;
	}

	.picture-edu img {
		max-width: 300px;
		max-height: 300px;
	}
	

	
}

/* Small tablet to Big tablet : From 768px to 1023px */
@media only screen and (max-width: 1023px){
	
	.nav-menu {
		display: none;
	}

	.nav-name {
		text-align: center;
		margin: 0;
	}

	.container-section-aboutme {
		width: 70%;
	}

	.picture-me {
		width: 70%
	}
	
	.container {
		width: 70%;
	}

	.picture-edu img {
		max-width: 100%;
		max-height: 100%;
		height: 230px;
		width: 230px;
	}

	.flex-column {
		flex: 49%;
		max-width: 49%;
	}

		
	
	.a-interest {
		
		padding: 1em 22%;
	}

	.picture-edu {
		width: 100%;
	}

}


/* Small phone to Small tablet : From 481px to 767px */
@media only screen and (max-width: 767px){

	.container-section-aboutme {
		width: 100% !important;
		padding: 0;
	}

	.left-text-info {
		margin-left: 2em;
	}
	
	.right-text-info {
		margin-right: 2em;
	}
	
	.picture-me {
		width: 80%;
	}
	
	.container {
		width: 100%;
	}

	.picture-edu img {
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto 1em;
		pointer-events: none;
		width: 80%;
		height: 80%;
	}
	
	.flex-column {
		flex: 100%;
		max-width: 100%;
	}
	
	.a-text-edu {
		padding: 0;
	}

	.picture-edu {
		display: block;
	}

	.interest {
		padding: 10%;
	}

	.picture-edu img {
		opacity: 1;
	}

	.interest {
		padding: 0;
	}

	.a-text-edu{
		padding: 2% 0;
	}

	.grid-container-skills {
		display: block;
	}

	#map {
		height: 25em;
	}



}



/* Small phone : Frome 0 to 480px */
@media only screen and (max-width: 480px){

	.container-section-aboutme {
		width: 100% !important;
		padding: 0;
	}

	.left-text-info {
		margin-left: 2em;
	}
	
	.right-text-info {
		margin-right: 2em;
	}

	.container {
		width: 100%;
	}
	
	.picture-me {
		width: 90%;
	}

	.picture-edu  {
		display: block;
	}

	.picture-edu img {
		max-width: 90%;
		max-height: 90%;
		width: 90%;
		height: 90%;
	}
	
	.line-edu {
		width: 100%;
	}

	.a-text-edu {
		padding: 0;
	}

	.picture-edu img:hover {
		transform: scale(1);
		margin: 0;
	}

	.picture-edu img {
		opacity: 1;
	}

	#map {
		height: 20em;
	}
}


