@charset "UTF-8";
/* CSS Document */



/* ------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------- */


/* 
	Global
	Setting Navbar
	Setting CONTENTS
	 - Programming skill bar 
	Setting Education
	Setting Interest

*/



/* ------------------------------------------------------------- */
/* GLOBAL */
/* ------------------------------------------------------------- */

html {
	font-family: 'Lato' , sans-serif;
	font-size: 1em;
	background-color: #fff;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	max-width: 100%;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}

a {
	text-decoration: none;
}

.container-section {
	width: 100%;
	margin: 0 auto;
}

.div-font-contents {
	letter-spacing: 1.2px;
	word-spacing: 1px;
	line-height: 1.3em;
	font-weight: 300;
}

.line-under {
	width: 300px;
	margin-top: -20px;
	border: solid 0.1em #019788;	
}

.head-section {
	text-align: center;
	margin: 0 auto;
	padding-top: 1em;
	font-size: 1.5em;
}

.bg-section-odd {
	background-color: #f0f0f0;
	padding: 2em 0;
}

.bg-section-even {
	background-color: #fff;
	padding: 2em 0;
}

.bold-text {
	font-weight: 400;
}

/* ------------------------------------------------------------- */
/* Setting Navbar */
/* ------------------------------------------------------------- */

/* 01534b-016157-016e63-017c70-018a7c */

.website-t {
	color: #01534b;
}

.website-e {
	color: #016157;
}

.website-c {
	color: #016e63;
}

.website-h {
	color: #017c70;
}

.website-i {
	color: #018a7c;
}

.website-n {
	color: #019788;
}

.nav-bar {
	background-color: rgba(255,255,255,0.90);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
	transition: 0.5s;
}

.nav-menu {
	position: absolute;
	right: 0;
	top: -1em;
	padding: 0;
}

.nav-menu > li {
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.nav-a {
	color: #00645a;
	display: block;
	width: 8em;
	text-align: center;
	padding: 1em 0;
}

.nav-a:hover {
	background-color: #00645a;
	color: #f0f0f0;
	
}


.nav-name {
	text-align: left;
	padding-top: 0.05em;
	padding-bottom: 0.01em;
	font-size: 2.5em;
	font-weight: 300;
	color: #000;
	display: block;
	margin-left: 1em;
}


/* ------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------- */

.btn {
	color: #000;
	text-decoration: none;
	border: solid 0.1em #000;
	padding: 0.5em;
	border-radius: 1em;
	display:inline-block;
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-moz-transition: 0.5s; /* Firefox */
	transition: 0.5s; 
}

.btn-wrapper{
	text-align: center;
	padding: 1em ;
	margin-top: 5em;
}

.btn-watch-video {
	color: #000000;
	border: solid 0.1em #000000; 

}

.btn-watch-video:link .btn-watch-video:visited  {
	color: #000;
	
	
}

.btn-watch-video:active {
	color: #019788;
	border: solid 0.1em #019788; 
}

.btn-watch-video:hover {
	color: #fff;
	background-color: #000000;
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-moz-transition: 0.5s; /* Firefox */
	transition: 0.5s; 
	
}




/* ------------------------------------------------------------- */
/* Video */
/* ------------------------------------------------------------- */


.video-container {
	position:relative;
	padding: 1em 0 ;
	overflow: hidden;
	text-align: center;
	margin: 5em auto 1em;
	
}


.top-from-nav {
	top: 0;
	margin-top: 4%;
}

.video-me {
	width: 80%;
}

/* ------------------------------------------------------------- */
/* Setting CONTENTS */
/* ------------------------------------------------------------- */

.container-section-aboutme {
	width: 50%;
	display: block;
	background-color: #fff;
	margin: 1em auto 0;
	padding: 1em;
	color: #000;
	font-weight: 300;
}


.major-text {
	font-weight: bold;
	font-size: 2em;
	margin-top: 1em;
}

.content-aboutme {
	text-align: left;
	font-weight: 300;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 auto;
}


.picture-me {
	align-content: center;
	width: 60%;
	margin: 1em 0;
}

.picture-align {
	text-align: center;
}

.head-content-aboutme , .topic-content{
	text-align: center;
	margin-top: 2em;
	font-weight: bold;
}

.right-text-info{
	text-align: right;
	margin-right: 33%;
}

.left-text-info {
	text-align: left;
	margin-left: 33%;
}

.line-end-content {
	border: 0.05em solid #019788;
}

.grid-container-skills {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-column-gap: 4%;

}

.grid-2-skill, .grid-1-skill {
	width: 100%;
}

/* ------------------------------------------------------------- */
/* Setting CONTENTS */
/* -- Programming skill bar -- */
/* ------------------------------------------------------------- */

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.line-text {
	z-index: 5;
	text-align: center;
}

.line {

	height: 1em;
	min-width: 100%;
	margin: 0 auto 0.5em;
	line-height: 1em;
	color: #f0f0f0;
	position: relative;

	
}

.line::before {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	height: 1em;
	top: 0;
	background: #333;
	border-radius: 0.3em;
	z-index: 1;
}


.line::after {
	content: '';
	background: #019788;
	height: 1em;
	transition: 0.8s;
	display: block;
	width: 100%;
	animation: animate 1 4s;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.3em;
	z-index: 2;
}

.linehtcs::after {
	max-width: 40%;
	content: '40%';
}
.lines4::after {
	max-width: 40%;
	content: '40%'
}
.linejvs::after {
	max-width: 20%;
	content: '20%'
}
.linepy::after {
	max-width: 20%;
	content: '20%'
}
.lineth::after {
	max-width: 80%;
	content: '80%'
}
.lineen::after {
	max-width: 60%;
	content: '60%'
}

.line-end-skill {
	width: 50%;
	border: 0.05em solid #019788;
	margin-top: 3em;
	
}


/* ------------------------------------------------------------- */
/* Setting Education*/
/* ------------------------------------------------------------- */

.container-education {
	width: 100%;
	margin: 0 auto;
}

.timeline-edu{
	text-align: center
}

.box-edu {
	
	margin: 2em auto;
	text-align: center;
	width: 40%;
	color: #f0f0f0;
	transition: 0.2s
	
}

.box-edu:hover {
	background-color: #019788;
	border-radius: 1em;
}

.a-text-edu {
	display: block;
	color: #333;
	transition: 0.5s;
	width: 100%;
	margin: 2em auto;
	padding: 0.5em 0;


}

.a-text-edu:hover {
	color: #fff;
	font-size: 1em ;
	background-color: #019788;
}

.line-edu {
	width: 60%;
	border: solid 1px #333;
}

.picture-edu {
	display: inline-block;
	padding: 1em 0 3em;
	transition: 1s;
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.picture-edu img {
	max-width: 350px;
	max-height: 350px;
	transition: 1s;
	margin: 0 auto;
	opacity: 0.5;
	margin: 2em 0.01em;
	width: 300px;
	height: 300px;
}

.picture-edu img:hover {
	transform: scale(1.2);
	opacity: 1;
	margin: 2em 2em;	
}

#map {
	width: 80%;
	height: 30em;
	background-color: grey;
	margin: 0 auto 5em;
}

.edu-map {
	text-align: center;
}


/* ------------------------------------------------------------- */
/* Setting Interest*/
/* ------------------------------------------------------------- */




.grid-container-interest {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;


}

/* Travel */

.flex-container-interest {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	overflow: hidden;
	flex-direction: row;
}

.flex-container-interest > div {
	width: 100px;
	margin: 0.2em;
	text-align: center;
}

.flex-column {
	flex: 24%;
	max-width: 24%;
}

.flex-column img {
	vertical-align: middle;
	width: 100%;
	margin: 0.2em 0;
	height: auto;
}

.a-interest {
	color: #333;
	padding: 1em 0;
	transition: 0.2s;
	display: block;
	text-align: center;
	
}

.a-interest:hover {
	color: #f0f0f0;
}

.a-interest-travel:hover {
	background-color: #019788;	
}

.a-interest-car:hover {
	background-color: #016157;	
}

.a-interest-bike:hover {
	background-color: #017C70;	
}

.interest-travel {
	margin-top: 5em;
}

.interest-car {
	margin-bottom: 2em;
}

.interest-ul {
	list-style: none;
	padding: 0;
}

.interest-ul > li {
	margin-bottom: 1em;
}

.interest-list {
	margin-bottom: 1em;
	height: auto;
	text-align: center;
}

.a-interest-list {
	color: #019788;
	width: 100%;
	display: block;
	padding: 0.5em 0;
	transition: 0.3s;
}

.a-interest-list:hover {
	color: #fff;
	background-color: #01ac9b;
}


/* ------------------------------------------------------------- */
/* Setting Download*/
/* ------------------------------------------------------------- */

.download-file {
	text-align: center;
	display: block;
	margin: 3em auto;
	color: #f0f0f0;
	background-color: #007ac9;
	width: 20%;
	margin: 0 auto;
	padding: 0.8em;
	transition: 0.2s;

}

.download-file:hover {
	background-color: #0065a8;
}

.download-h2 {
	text-align: center;
	margin-top: 3em;
}


/* ------------------------------------------------------------- */
/* Setting Footer*/
/* ------------------------------------------------------------- */

.footer {
	background-color: #333;
	text-align: center;
	padding: 1em;
	color: #f0f0f0;
}